div#container {
    display: block;
    margin: auto;
    border: 1px solid black;
    padding: 45px;
    width: 960px;
    height: 2429px;
    background-color: aliceblue;
}
div#header {
    display: block;
    width: 100%;
    height: 100px;
    border: solid;
    background-color: rgb(206, 67, 67);
    position: relative;
}
img#logo2 {
    display: inline-block;
    width: 218px;
    height: 76px;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 5px;
    animation-timing-function: linear;
}
.header_items {
    display: inline-block;
    margin: 1px;
    border: 1px solid black;
    padding: 6px;
    width: 159px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: skyblue;
    text-shadow: 4px 4px 2px whitesmoke;
}
div#navi {
    display: inline-block;
    vertical-align: 41px;
}
img#follow {
    vertical-align: 27px;
}
.icon-bar {
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 48px;
}
div#section1 {
    position: relative;
}
div#sidebar {
    display: inline-block;
    border-right: 5px solid;
    border-left: solid;
    border-bottom: solid;
    width: 240px;
    height: 380px;
}
.sidebar_class {
    height: 70px;
    border-style: double;
    background-color: rgb(206, 67, 67);
    /* background-color: cadetblue; */
    color: rebeccapurple;
    line-height: 73px;
    text-align: center;
}
div#contents {
    display: inline-block;
    position: absolute;
    height: 290px;
    overflow:auto;
    background:#fff;
    margin: 0px;
    padding: 45px;
    border-bottom: solid;
    border-right: solid;
    margin-right: -6px;
    text-align: justify;
    font-family: 'Bungee Inline', cursive;
    background-color: azure;
}
h2 {
    text-align: center;
    color: blueviolet;
}
div#section2 {
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    display: inline-block;
}
div#bottombox1 {
    display: inline-block;
    box-sizing: border-box;
    margin: 13px;
    margin-top: 40px;
    border: solid;
    width: 205px;
    height: 300px;
    position: relative;
    line-height: 300px;
    text-align: center;
    background-color: skyblue;
    text-shadow: 2px 2px blue;
    box-shadow: 8px 8px 4px blue;
    transition: box-shadow;
}
div#bottombox1:hover {
    box-shadow: 8px 8px 4px red;
}
div#bottombox2 {
    display: inline-block;
    box-sizing: border-box;
    margin: 13px;
    margin-top: 40px;
    border: solid;
    width: 205px;
    height: 300px;
    position: relative;
    line-height: 300px;
    text-align: center;
    background-color: skyblue;
    text-shadow: 2px 2px blue;
    box-shadow: 8px 8px 4px blue;
    transition: box-shadow;
}
div#bottombox2:hover {
    box-shadow: 8px 8px 4px yellow;
}
div#bottombox3 {
    display: inline-block;
    box-sizing: border-box;
    margin: 13px;
    margin-top: 40px;
    border: solid;
    width: 205px;
    height: 300px;
    position: relative;
    line-height: 300px;
    text-align: center;
    background-color: skyblue;
    text-shadow: 2px 2px blue;
    box-shadow: 8px 8px 4px blue;
    transition: box-shadow;
}
div#bottombox3:hover {
    box-shadow: 8px 8px 4px green;
}
div#bottombox4 {
    display: inline-block;
    box-sizing: border-box;
    margin: 13px;
    margin-top: 40px;
    border: solid;
    width: 205px;
    height: 300px;
    position: relative;
    line-height: 300px;
    text-align: center;
    background-color: skyblue;
    text-shadow: 2px 2px blue;
    box-shadow: 8px 8px 4px blue;
    transition: box-shadow;
}
div#bottombox4:hover {
    box-shadow: 8px 8px 4px orange;
}
.topcircle {
    display: inline-block;
    margin: -13px;
    width: 25px;
    height: 25px;
    border: solid;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: cadetblue;
}
.bottomcircle {
    display: inline-block;
    margin: -13px;
    width: 25px;
    height: 25px;
    border: solid;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: cadetblue;
}
img.cat_imgage {
    margin: 30px;
    width: 133px;
    height: 190px;
}
div#video_section {
    /*border: 1px solid black;*/
    display: inline-block;
    margin-left: 250px;
    margin-right: 250px;
    width: 465px;
    height: 500px;
    object-fit: contain;
}
div#section3 {
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    display: block;
}
form#left {
    display: inline-block;
    box-sizing: border-box;
    margin: 15px;
    position: relative;
    width: 440px;
    height: 440px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: darkblue;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid;
    box-shadow: 8px 8px 4px blue;
}
input {
    width: 375px;
    display: inline-block;
    border: 1px solid #999;
    height: 25px;
    box-shadow: 0px 0px 8px blue;
    padding: 5px;
}
textarea#feedback {
    min-width: 375px;
    max-width: 375px;
    min-height: 150px;
    max-height: 200px;
    display: inline-block;
    box-shadow: 0px 0px 8px blue;
}

input[type="submit"] {
    position: absolute;
    right: 192px;
    bottom: -38px;
    width: 87px;
    box-shadow: 8px 8px 4px blue;
}
form#right {
    display: inline-block;
    box-sizing: border-box;
    margin: 15px;
    position: absolute;
    width: 440px;
    height: 440px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: darkblue;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid;
    box-shadow: 8px 8px 4px blue;
}
input[type="radio"] {
    display: inline-block;
    margin: 0px;
    width: 35px;
    height: 15px;
}
input[type="checkbox"] {
    display: inline-block;
    margin: 0px;
    width: 35px;
    height: 15px;
}
input.right_input {
    box-shadow: none;
}
input[type="checkbox"] {
    box-shadow: none;
}
div#footer {
    display: inline-block;
    text-align: center;
    border: solid;
    width: 100%;
    height: 92px;
    line-height: 20px;
    margin-top: 20px;
    background-color: rgb(206, 67, 67);
    /* background-color: cadetblue; */
}
div#content2 {
    border: 1px solid black;
    height: 240px;
    margin-top: 85px;
    column-count: 3;
    padding: 35px;
    font-family: 'Bree Serif', serif;
    text-align: justify;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}





